<%-include('includes/head',{title:title})%>
    <div class="sermons-block">
        <div class="title-sermon">Sermons</div><br>
        <%for(let video of videos){%>
            <div class="sermon-block">
                <a class="sermon-title" href="/sermon/<%=video._id%>"><%=video.title%></a>
                <p class="sermon-info">Date: <%=video.date.toISOString().split('T')[0]%> | Category: <%=video.category%> | By: <%=video.speaker%></p>
            </div>
        <%}%>
    </div>
    <%if(last!=1){%>
        <div class="pagination-block">
            <a href="/">First</a>
            <%if(curr-1!=1&&curr-1!=0){%><a href="/?page=<%=prev%>">Prev</a><%}%>
            <a><%=curr%></a>
            <%if(curr+1!=last&&curr+1!=last+1){%><a href="/?page=<%=next%>">Next</a><%}%>
            <a href="/?page=<%=last%>">Last</a>
        </div>
    <%}%>
<%-include('includes/tail')%>